body{
    background-color: rgb(255, 252, 226);
    margin: 0;
 }

 .game-container{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
 }

 .gameCard-img{
    height: 13rem;
    width: auto;
 }

 .gameCard-grid{
    width: 650px;
    max-width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 3em;
 }

 .gameCard{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    height: 12.7rem;
    width: 7.75rem;
    transform: 
        perspective(1000px) 
        rotateY(var(--rotate-y, 0))
        translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    transition: 135ms;  
 }

.gameCard:hover{
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, .5);
    --translate-y: -2px;
}

 .gameCard.flip{
    --rotate-y: 180deg;
 }

 .gameCard .front{
    transform: rotateY(0deg);
 }

 .gameCard .front,
 .gameCard .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }

 .gameCard .back{
    transform: rotateY(180deg);
 }


 /* .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
 }

 .form-group{
    display: flex;
    flex-direction: column;
    margin: .5rem;
 }

 .form-group > label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
 } */

 /* .button{
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    cursor: pointer;
 }

 .button:hover{
    background-color: hsl(200, 100%, 40%);
 } */